@page
@model SinusSkateboards.UI.Pages.Admin.IndexModel
@{
}
<div class="d-flex flex-column justify-content-center">
    <a class="btn btn-lg btn-primary" asp-page="/Admin/Products/Index">Products</a>
    <a class="btn btn-lg btn-primary mt-1" asp-page="/Admin/Orders/Index">Orders</a>
    <a class="btn btn-lg btn-primary mt-1" asp-page="/Admin/Categories/Index">Categories</a>
</div>