@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_LayoutFrontPage.cshtml";
}
<div class="grid" style="height: calc(100% - 87px);">
    <div class="bg-image d-flex justify-content-center align-items-center"
         style="background-image: url('https://images.unsplash.com/photo-1520796738119-1bae68104970?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1858&q=80'); height: calc(100% - 60px); background-position: center; ">
        <div class="d-flew justify-content-center align-items-center">
            <img src="~/images/logos/sinus-logo-landscape-large.png" alt="Sinus Logo Landscape Large" style="width: 60vh; object-fit: contain;" />
        </div>
    </div>
</div>
